@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.Routing
@using Microsoft.AspNetCore.Components.Web

<main role="main" class="row">
    <section>
        <div class="col-md">
            <AuthorizeView>
                <Authorized>
                </Authorized>
                <NotAuthorized>
                    <form class="container p-3">
                        <div class="mb-5">
                            <h1>Sign in</h1>
                            <p><b>@Factory.ProjectService.ServiceName</b> Sign in.</p>
                        </div>

                        <div class="mb-3">
                            <label for="exampleDropdownFormEmail2" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleDropdownFormEmail2" placeholder="email@example.com" @bind-value="this.loginViewModel.Email" disabled="@this.loginViewModel.IsBusy">
                        </div>
                        <div class="mb-3">
                            <label for="exampleDropdownFormPassword2" class="form-label">Password</label>
                            <input type="password" class="form-control" id="exampleDropdownFormPassword2" placeholder="Password" @bind-value="this.loginViewModel.Password" disabled="@this.loginViewModel.IsBusy">
                        </div>
                        <div class="mb-5 float-end">
                            <div class="form-check align-middle">
                                <input type="checkbox" class="form-check-input mt-2" id="dropdownCheck2">
                                <label class="form-check-label me-3" for="dropdownCheck2">
                                    Remember me
                                </label>
                                <button type="button" class="btn btn-primary" @onclick="LoginAsync" disabled="@this.loginViewModel.IsBusy">Sign in</button>
                            </div>
                        </div>
                    </form>
                </NotAuthorized>
            </AuthorizeView>
        </div>
    </section>
</main>